.main {
    display: block;
    min-height: 500px;
}
body {
    background: #fff;
    color: #000;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
body.lock {
    overflow: hidden;
}
body.no-hover, body.no-hover * {
    pointer-events: none!important;
}
body * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-size: 2em;
}
a {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
/*
***************************************************
COMECA A CENA
***************************************************
*/

.header {
    padding: 50px 0 40px 30px;
    position: relative;
    width: auto;
}
.header h1 {
    display: table;
    margin: 0;
    width: 100%
}
.header h1 a {
    background: url(../img/logo.svg) 0 0 no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: block;
    float: left;
    height: 32px;
    margin: -3px 1px 1px 2px;
    position: relative;
    text-indent: -1000px;
    width: 64px;
}
.no-svg .header h1 a {
    background-image: url(../img/header/logo.gif);
}
.nav-open .header h1 a {
    z-index: 10;
}
.header .nav ul {
    display: none;
    margin: 0;
    padding: 14px 0 0;
}
.header .nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 7px;
}
.header .nav li a {
    color: #000;
    display: block;
    font-size: .75em;
    letter-spacing: .145em;
    line-height: 30px;
    padding: 8px;
    text-transform: uppercase;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}
.header .nav li:first-child, .header .nav li:first-child a {
    padding-left: 0;
}
.header .nav li:last-child, .header .nav li:last-child a {
    padding-right: 0;
}
.header .nav li a:active, .header .nav li a:focus, .header .nav li a:hover {
    color: #999;
}
.header .nav a.menu {
    color: #000;
    font-size: .75em;
    line-height: 44px;
    padding: 0 20px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 40px;
    z-index: 100;
}
.header .dropdown-menu {
    background-color: #fff;
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .3s, height 0 .3s, padding-top 0 .3s;
    transition: opacity .3s, height 0 .3s, padding-top 0 .3s;
    width: 100%;
    z-index: 98;
}
.nav-open .header .dropdown-menu {
    height: 700px;
    opacity: 1;
    padding-top: 140px;
    -webkit-transition: opacity .3s, height 0 0, padding-top 0 0;
    transition: opacity .3s, height 0 0, padding-top 0 0;
}
.header .dropdown-menu-content {
    position: absolute;
    right: 0;
}
.header .dropdown-menu ul {
    list-style: none;
    margin: -10px 0 40px;
    padding: 0 10px 0 20px;
}
.header .dropdown-menu ul li {
    line-height: 1;
    margin: 0 0 5px;
    padding: 0;
}
.header .dropdown-menu ul li a {
    color: #fff;
    display: block;
    font-size: .875em;
    padding: 10px 20px;
    text-align: right;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    width: 100%
}
.header .dropdown-menu ul li a:before {
    display: none;
}
.nav-open .header .dropdown-menu ul li a {
    color: #444;
    -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
    transform: translate(0, -15px);
    -webkit-transition: -webkit-transform .4s, color .4s;
    transition: transform .4s, color .4s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(1) a {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(2) a {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(3) a {
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(4) a {
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(5) a {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(6) a {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(7) a {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(8) a {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.nav-open .header .dropdown-menu ul:first-child li:nth-child(9) a {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(1) a {
    -webkit-transition-delay: .7s;
    transition-delay: .7s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(2) a {
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(3) a {
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(4) a {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(5) a {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(6) a {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(7) a {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(8) a {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.nav-open .header .dropdown-menu ul:last-child li:nth-child(9) a {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.header .dropdown-menu ul:first-child li {
    margin: 0 0 10px;
}
.header .dropdown-menu ul:first-child a {
    font-size: 1.875em;
}
.header .msg-close, .nav-open .header .msg-menu {
    display: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.header .msg-menu, .nav-open .header .msg-close {
    display: block;
}
.nav-open .main, .nav-open footer {
    display: none;
}
.nav-open, .nav-open body {
    height: 660px!important;
    min-height: 660px!important;
}
img {
    width: 100%;
}
/*
************************************************************
MEDIA QUERIES
************************************************************
*/

/*@media screen and (min-width: 420px) {
    .main {
        min-height: 780px;
    }
    .header .nav a.menu {
        right: 20px;
        top: 75px;
    }
}
@media screen and (min-width: 600px) {
    .header .dropdown-menu, .header .nav a.menu {
        display: none;
    }
}
@media screen and (min-width: 420px) {
    .header {
        padding: 80px 0 71px 40px;
    }
}
@media screen and (min-width: 600px) {
    .header {
        padding: 80px 0 61px 70px;
    }
}
@media screen and (min-width: 769px) {
    .header {
        padding: 80px 0 61px 100px;
    }
}
*/

@media screen and (min-width: 420px) {
    .header {
        padding: 80px 0 71px 40px;
    }
    .header h1 a {
        height: 38px;
        margin: -1px 1px 1px -2px;
        width: 80px;
    }
    .header .nav a.menu {
        right: 20px;
        top: 75px;
    }
    .nav-open .header .dropdown-menu {
        height: 800px;
        padding-top: 200px;
    }
    .header .dropdown-menu ul {
        margin: -10px 0 80px;
        padding: 0 20px;
    }
    .header .dropdown-menu ul:first-child a {
        font-size: 2.1875em;
    }
    .header .dropdown-menu ul:last-child a {
        font-size: 1em;
    }
    .nav-open, .nav-open body {
        height: 750px!important;
        min-height: 750px!important;
    }
}
@media screen and (min-width: 600px) {
    .header {
        padding: 80px 0 61px 70px;
    }
    .header h1 a {
        margin: -1px 0 0 -2px;
    }
    .header .nav ul {
        display: block;
    }
    .header .dropdown-menu, .header .nav a.menu {
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .header {
        padding: 80px 0 61px 100px;
    }
}
.footer {
    background: #0a0a0b;
    display: table;
    padding: 120px 40px;
    width: 100%
}
.footer h1 {
    float: left;
    width: 78px;
    margin: 64px 0 0 -2px;
}
.footer h1 a {
    background: url(../img/footer/logo-white.svg) no-repeat;
    display: block;
    font-size: 0;
    height: 38px;
    overflow: hidden;
    text-indent: -100%;
    width: 78px;
}
.no-svg .footer h1 a {
    background: url(../img/footer/logo-white.gif) no-repeat;
}
.footer .nav {
    float: left;
    margin: 7px 0 0 75px;
}
.footer .nav ul {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
}
.footer .nav li {
    display: block;
    margin-top: 16px;
    line-height: 1;
}
.footer .nav li:first-child {
    margin-top: 0;
}
.footer .nav a {
    color: #fff;
    font-size: .6875em;
    letter-spacing: .15em;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    text-transform: uppercase;
}
.footer .nav a:active, .footer .nav a:focus, .footer .nav a:hover {
    color: #999;
}
.footer .info {
    float: right;
    margin-top: 38px;
}
.footer .info ul {
    float: right;
    list-style-type: none;
    margin: 0 -6px 7px 0;
    overflow: hidden;
    padding: 30px 0 0;
    text-align: right;
}
.footer .info li {
    float: left;
    margin-left: 14px;
}
.footer .info li.social-google-plus {
    margin-top: 3px;
}
.footer .info li a {
    color: #FFF;
    display: block;
    height: 30px;
    overflow: hidden;
    position: relative;
    text-indent: 30px;
    -webkit-transition: color 300ms;
    transition: color 300ms;
    width: 30px;
}
.footer .info li a:active, .footer .info li a:focus, .footer .info li a:hover {
    color: #999;
}
.footer .info li a:before {
    left: 0;
    font-size: 30px;
    height: 30px;
    position: absolute;
    text-indent: 0;
    top: 0;
    width: 30px;
}
.footer .copyright {
    float: right;
    clear: right;
    color: #666;
    font-size: .6875em;
    letter-spacing: .5px;
    margin: 8px 0 0;
}
@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
    .no-js .footer {
        display: block;
    }
    .no-js .footer .nav {
        display: block;
        padding: 20px 0;
        width: 100%
    }
    .no-js .footer .info ul {
        float: left;
        margin: 0 0 10px -15px;
    }
    .no-js .footer .copyright {
        clear: left;
    }
}
@media screen and (min-width: 600px) {
    .footer {
        display: table;
        padding: 115px 70px;
    }
    .footer h1 {
        padding-right: 70px;
    }
}
@media screen and (min-width: 769px) {
    .footer {
        padding: 115px 100px;
    }
    .footer h1 {
        padding-right: 100px;
    }
}
