/* =============================================================================
  GLOBALS
============================================================================= */

@import 'https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    z-index: 0;
}
html {
    padding: 2rem;
    font-weight: 100;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    line-height: 1.1;
}
/*Exemplo dum CLEARFIX*/

.class-qualquer:after {
    content: "";
    display: table;
    clear: both;
}
/* =============================================================================
  MODULE HEADER
============================================================================= */

#module-header {
    width: 100%;
    /*position: fixed;*/
    top: 0;
    left: 0;
    /*right: 0;*/
    z-index: 1;
    height: 100px;
    background-color: #000;
    -webkit-box-shadow: -1px 6px 12px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 6px 12px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 6px 12px -4px rgba(0, 0, 0, 0.75);
}
#module-header {
    width: 100%;
}
#module-header div:nth-child(1) {
    background: #000;
    width: 50%;
    height: 100%;
    float: left;
}
#module-header div:nth-child(2) {
    background: red;
    width: 50%;
    height: 100%;
    float: left;
}
#module-header a {
    width: 300px;
}
#module-header img {
    width: 400px;
}
#module-header .logo img {
    margin-top: 12px;
    margin-left: 5px;
    /*width: 600px;*/
}
/* =============================================================================
  MEDIA QUERIES
============================================================================= */
/* 
 ========= SMALL DEVICES (mobiles) ============
*/

@media screen and (min-width: 0px) and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}
/* 
 ========= MEDIUM DEVICES (tablets) ============
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 20px;
    }
}
/* 
 ========= LARGE DEVICES (desktops) ============
*/

@media screen and (min-width: 993px) {
    html {
        font-size: 24px;
    }
}
